version: '3'

services: 
  app:
    build: 
      context: node
    container_name: app
    networks:
      - node-network
    volumes:
      - ./node:/usr/src/app
      - /usr/src/app/node_modules 
    tty: true
    expose:
      - "3000"
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: nodedb
      MYSQL_ROOT_HOST: '%'
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - "3306"
    volumes:
      - "./mysql:/var/lib/mysql"
      - "./mysql-init:/docker-entrypoint-initdb.d"
    networks:
      - node-network

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    networks:
      - node-network

networks:
  node-network:
    driver: bridge
