version: '3'

services: 
  app:
    build: 
      context: node
    container_name: app
    networks:
      - node-network
    volumes:
      - ./node:/usr/src/app
    tty: true
    expose:
      - "3000"

  db:
    image: mysql:5.7
    container_name: db
    restart: always
    tty: true
    volumes:
      - data_db:/var/lib/mysql 
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: nodedb
    command: --innodb-use-native-aio=0 
    networks:
      - node-network

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    networks:
      - node-network

networks:
  node-network:
    driver: bridge

volumes:
  data_db:
